# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\vit\java\kodilla-byte-buddy-zad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
